
.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.carousel-item img {
      width: 100vw;
      height: auto; /* Ajuste conforme necessário */
      object-fit: cover;
    }

.carousel-inner {
    background: url('../img/4.png') no-repeat center center;
    background-size: cover;
}

/********Carrosel responsivo***********/

@media (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #ffffff;
  }
  
  .carousel-caption h5,
  .carousel-caption h1,
  .carousel-caption p {
    margin: 0;
    text-align: center;
  }
  
  .carousel-caption h5 {
    font-size: 1.5rem;
  }
  
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  
  .carousel-caption p {
    font-size: 1rem;
  }
}

/********Contador e estatistica da pág***********/
#estatisticas {
  background-color: #f8f9fa;
}

.counter-up {
  text-align: center;
}

.counter-up h2 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.counter-up p {
  font-size: 18px;
  margin-bottom: 0;
}

:root {
    --primary: #AB7442;
    --light: #F5F5F5;
    --dark: #353535;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Botões ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Barra de navegação ***/
.navbar {
    font-family: "Gill Sans, sans-serif";
    font-weight: 950;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 25px 0;
    font
}


/*** Section Title ***/
.section-title h1 {
    position: relative;
    display: inline-block;
    padding: 0 60px;
}

.section-title.text-start h1 {
    padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: var(--dark);
}

.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}

.section-title.text-start h1::before {
    display: none;
}


/*** Serviços da editora ***/
.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.1);
}


/*** Livros ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-img {
    position: relative;
    width: 80%;
    height: auto; /* Ajuste conforme necessário */
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(169,169,169, .9);
    display: flex;
    align-items: flex-middle;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}

@media (max-width: 768px) {
  .portfolio-img {
    position: relative;
    width: 60%;
    height: auto; /* Ajuste conforme necessário */
}
  
}

@media (max-width: 576px) {

    .portfolio-img {
    position: relative;
    width: 50%;
    height: auto; /* Ajuste conforme necessário */
    }
    
}

/*** Rodapé ***/

.footer {
      background-color: #343a40;
      color: white;
      padding: 40px 0;
    }
    .footer a {
      color: white;
      text-decoration: none;
    }
    .footer a:hover {
      text-decoration: underline;
    }
    .footer .social-icons a {
      font-size: 1.5em;
      margin: 0 10px;
      color: white;
    }
    .footer .social-icons a:hover {
      color: #007bff;
    }
    .footer h4 {
      color: #f8f9fa;
    }

    /*** Responsividade do rodapé ***/

    @media (max-width: 576px) {
      .footer {
        text-align: center;
      }
      .footer .col-md-6, .footer .col-lg-6, .footer .col-lg-3, .footer .col-md-12 {
        margin-bottom: 20px;
      }
      .footer .social-icons a {
        font-size: 1.2em;
        margin: 0 5px;
      }
    }

